<div>
    <div>
        <style>
            .strava-badge- {
                display: inline-block;
                height: 48px;
            }

                .strava-badge- img {
                    visibility: hidden;
                    height: 48px;
                }

                .strava-badge-:hover {
                    background-position: 0 -63px;
                }

            .strava-badge-follow {
                height: 48px;
                width: 48px;
                background: url(//badges.strava.com/echelon-sprite-48.png) no-repeat 0 0;
            }
        </style>
        <a href="http://strava.com/athletes/58189038" class="strava-badge- strava-badge-follow" target="_blank">
            <img src="//badges.strava.com/echelon-sprite-48.png" alt="Strava" />
        </a>
    </div>
    <div>
        <iframe id="iframe" height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no'
                src='https://www.strava.com/athletes/58189038/activity-summary/f3513dd9d3fe43836f0808a1aa72cc2089e0b094'></iframe>
    </div>

    <div>
        <a style="display:inline-block;background-color:#FC5200;color:#fff;padding:5px 10px 5px 30px;font-size:11px;
        font-family:Helvetica, Arial, sans-serif;white-space:nowrap;text-decoration:none;background-repeat:no-repeat;
        background-position:10px center;border-radius:3px;background-image:url('http://badges.strava.com/logo-strava-echelon.png')"
        href='http://strava.com/athletes/58189038' target="_clean">
        Follow me on
        <img src='http://badges.strava.com/logo-strava.png' alt='Strava'
        style='margin-left:2px;vertical-align:text-bottom' height=13 width=51 />
        </a>
    </div>
</div>

<script>
    var iframe = $("#iframe");
    var newWindow = window.open(iframe.attr(src), 'Dynamic Popup', 'height=' + iframe.height() + ', width=' + iframe.width() + 'scrollbars=auto, resizable=no, location=no, status=no');
    newWindow.document.write(iframe[0].outerHTML);
    newWindow.document.close();
</script>










